---
import Layout from "@/layouts/Layout.astro";

import CVIcon from "@/components/icons/CV.astro";
import GitHubIcon from "@/components/icons/GitHub.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import SocialPill from "@/components/SocialPill.astro";
import Timeline from "@/components/Timeline.astro";
---

<Layout
    title='DavichoStar - Desarrollador M贸vil y Web'
    description='Desarrollador y Programador m贸vil (React Native - Flutter) y web (React) con m谩s de 3 a帽os de experiencia.'
>
    <main class='px-4'>
        <!-- [ Descripci贸n ] -->
        <SectionContainer class='pb-14 lg:pt-44 lg:pb-44'>
            <h1 class='text-gradient'>隆Hola!  Soy <strong>Erick</strong></h1>
            <p class='text-gray-900 dark:text-white'>
                Desarrollador m贸vil (React Native - Flutter) y web (React) de la <span
                    class='text-green-700/90 dark:text-green-200/90'>Ciudad de M茅xico</span
                > con m谩s de 3 a帽os de experiencia.
            </p>

            <!-- [ Redes Sociales ] -->
            <nav class='flex gap-4 mt-8 flex-wrap'>
                <SocialPill href='https://www.github.com/DavichoStar'>
                    <GitHubIcon class='size-4 md:size-6' />GitHub
                </SocialPill>
                <SocialPill href='https://www.linkedin.com/in/erick-david-f-3b9a0aa4/'>
                    <LinkedInIcon class='size-4 md:size-6' />LinkedIn
                </SocialPill>
                <SocialPill href='https://drive.google.com/file/d/1rLgZTGzURjxkFayQcW51uksU-TzovODs/view?usp=sharing'>
                    <CVIcon class='size-4 md:size-6' />CV
                </SocialPill>
            </nav>
        </SectionContainer>

        <!-- [ Experiencia Laboral ] -->
        <SectionContainer id='experience'>
            <Timeline />
        </SectionContainer>
    </main>

    <style>
        main {
            margin: auto;
            padding: 1rem;
            width: 800px;
            max-width: calc(100% - 2rem);
            color: white;
            font-size: 20px;
            line-height: 1.6;
        }
        .astro-a {
            position: absolute;
            top: -32px;
            left: 50%;
            transform: translatex(-50%);
            width: 220px;
            height: auto;
            z-index: -1;
        }
        h1 {
            font-size: 3rem;
            font-weight: 700;
            line-height: 1;
            text-align: center;
            margin-bottom: 1em;
        }
        .text-gradient {
            background-image: var(--accent-gradient);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: 400%;
            background-position: 0%;
        }
        .instructions {
            margin-bottom: 2rem;
            border: 1px solid rgba(var(--accent-light), 25%);
            background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
            padding: 1.5rem;
            border-radius: 8px;
        }
        .instructions code {
            font-size: 0.8em;
            font-weight: bold;
            background: rgba(var(--accent-light), 12%);
            color: rgb(var(--accent-light));
            border-radius: 4px;
            padding: 0.3em 0.4em;
        }
        .instructions strong {
            color: rgb(var(--accent-light));
        }
        .link-card-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
            gap: 2rem;
            padding: 0;
        }
    </style>
</Layout>
