---
import Layout from "@/layouts/Layout.astro";

import CVIcon from "@/components/icons/CV.astro";
import GitHubIcon from "@/components/icons/GitHub.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import Projects from "@/components/Projects.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import SocialPill from "@/components/SocialPill.astro";
import Timeline from "@/components/Timeline.astro";
---

<Layout
    title='DavichoStar - Desarrollador M贸vil y Web'
    description='Desarrollador y Programador m贸vil (React Native - Flutter) y web (React) con m谩s de 3 a帽os de experiencia.'
>
    <main class='px-4'>
        <!-- [ Descripci贸n ] -->
        <SectionContainer class='pb-14 lg:pt-44 lg:pb-44'>
            <h1 class='text-gradient text-4xl text-center mb-4 font-semibold rounded-full py-1'>
                {">"} 隆Hola!  Soy <strong>Erick</strong>
            </h1>
            <p class='text-gray-900 dark:text-white text-balance text-center'>
                Desarrollador Front-End: M贸vil (React Native - Flutter) y Web (React) de la <span
                    class='text-green-700/90 dark:text-green-300/90'>Zona Metropolitana del Valle de M茅xico</span
                > con m谩s de 3 a帽os de experiencia.
            </p>

            <!-- [ Redes Sociales ] -->
            <nav class='flex flex-wrap gap-4 mt-4 justify-center'>
                <SocialPill href='https://www.github.com/DavichoStar'>
                    <GitHubIcon class='size-4 md:size-6' />GitHub
                </SocialPill>
                <SocialPill href='https://www.linkedin.com/in/erick-david-f-3b9a0aa4/'>
                    <LinkedInIcon class='size-4 md:size-6' />LinkedIn
                </SocialPill>
                <SocialPill href='https://drive.google.com/file/d/1rLgZTGzURjxkFayQcW51uksU-TzovODs/view?usp=sharing'>
                    <CVIcon class='size-4 md:size-6' />CV
                </SocialPill>
            </nav>
        </SectionContainer>

        <!-- [ Experiencia Laboral ] -->
        <SectionContainer id='experience'>
            <Timeline />
        </SectionContainer>

        <!-- [ Proyectos ] -->
        <SectionContainer id='projects'>
            <Projects />
        </SectionContainer>
    </main>

    <style>
        main {
            margin: auto;
            padding: 1rem;
        }
        .text-gradient {
            background-image: var(--accent-gradient);
            background-size: 400%;
            background-position: 0%;
        }
    </style>
</Layout>
