---
const { id, class: className } = Astro.props;
---

<section
    id={id}
    class={`section ${className} w-full mx-auto lg:w-[740px] pb-6 px-4 md:pb-14 md:px-8 lg:pb-24 lg:px-14`}
>
    <slot />
</section>
